/project/client/Temp
/project/client/client.CSharp.csproj
/project/client/client.CSharp.Editor.csproj
/project/client/client.CSharp.Editor.Plugins.csproj
/project/client/client.CSharp.Plugins.csproj
/project/client/client.sln
/project/client/client.v12.suo
/project/client/UpgradeLog.htm
/project/client/.vs
/project/client/Library
