/project/client/Temp
/project/client/client.CSharp.csproj
/project/client/client.CSharp.Editor.csproj
/project/client/client.CSharp.Editor.Plugins.csproj
/project/client/client.CSharp.Plugins.csproj
/project/client/client.sln
/project/client/client.v12.suo
/project/client/UpgradeLog.htm
/project/client/.vs
/project/client/Library
/resource/patchable_resources_1/android/assetbundles/*.manifest
/resource/patchable_resources_1/android/assetbundles/assetbundles
/resource/patchable_resources_1/android/banks/*.bank
/resource/patchable_resources_1/android/banks/*.txt
/resource/patchable_resources_1/ios/assetbundles/*.manifest
/resource/patchable_resources_1/ios/assetbundles/assetbundles
/resource/patchable_resources_1/ios/banks/*.txt
/resource/patchable_resources_1/ios/banks/*.bank
