<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActionTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <ActionTool.Properties.Settings>
            <setting name="TblFileName" serializeAs="String">
                <value>action.tbl</value>
            </setting>
            <setting name="RoleExcelFile" serializeAs="String">
                <value>J_角色基础属性表.xls</value>
            </setting>
            <setting name="EditorTitle" serializeAs="String">
                <value>ActionTool</value>
            </setting>
        </ActionTool.Properties.Settings>
    </userSettings>
</configuration>